<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-6">
            <mat-card class="example-card mt-5">

                <div class="row">
                    <div class="col-md-1">
                        <button mat-mini-fab color="primary" [routerLink]="['/login']"
                        routerLinkActive="router-link-active">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" >arrow_back</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-9">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{showDetails?.firstName | titlecase}} {{showDetails?.lastName | titlecase}}
                                & User Type : {{showDetails?.usertype | titlecase}}</mat-card-title>
                        </mat-card-header>
                    </div>
                </div>

                <mat-card-content>
                    <mat-card class="example-card mt">
                        <h6>User Email : {{showDetails?.email}}</h6>
                        <h6>Roles and Permissions : </h6>
                            <span *ngIf="showDetails?.create">Create</span><br>
                            <span *ngIf="showDetails?.update">Update</span><br>
                            <span *ngIf="showDetails?.read">Read</span><br>
                            <span *ngIf="showDetails?.delete">Delete</span>
                        
                     </mat-card>
                </mat-card-content>

            </mat-card>
        </div>
    </div>



</div>